.home_page_nav {
  background: #f5f5f58c;
  padding: 10px 5%;

  box-shadow: -2px 3px 4px 1px #f3efef;
}
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7659cfc7;
  padding: 8px 15px;
  border-radius: 10px;
}
.list_items {
  display: flex;
  align-items: center;
}

.list_items a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0px 14px;
  font-size: 17px;
}
.site_name {
  color: #0f0395;
}
.list_items svg {
  background: white;
  color: #4c31e3;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  font-weight: bold;
}
.search {
  background: white;
  width: 300px;
  padding: 2px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  width: 100%;
  /* border: none; */
  padding: 7px;
  border: none;
  outline: none;
}
